/* Mobile Styles - Default */
:root {
  --primary-color: rgb(5, 255, 255);
  --secondary-color: rgb(153, 208, 255);
  --tertiary_color: rgb(70, 162, 255);
  --main-font: arial;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(147, 196, 224);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
ul {
  list-style-image: url(Images/woodstock.png);
}

.container {
  max-width: 75rem;
  min-height: 10rem;
  margin: auto;
  background-color: white;
  padding: 1rem;
}

#pageheader {
  background-color: rgb(133, 159, 215);
  min-height: auto;
  padding: 0.25rem;
}

#logo {
  background-image: url(Images/snoopylogo.png);
  width: 6.25rem;
  height: 6.25rem;
  margin: auto;
  transition: all 2s;
}

#pageheader .container {
  min-height: auto;
}

#pageheader nav {
  text-align: center;
}

#pageheader nav ul {
  background-color: rgb(255, 255, 255);
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#pageheader nav ul li {
  border: 2px solid silver;
  padding: 1rem;
  margin: 2px;
  background-color: aliceblue;
}
#pageheader nav ul li:hover {
  background-color: rgb(154, 194, 229);
}

#media {
  background-color: lightblue;
  /* min-height: 10rem; */
  height: 60vh;
  background-position: center center;
  padding: 1rem;
  background-image: url(Images/snoopyimage.png);
  background-size: cover;
  /* aspect-ratio: 16 / 9; */
}

#career {
  background-color: rgb(205, 235, 172);
  min-height: 10rem;
  padding: 1rem;
}

#pagecontent {
  background-color: rgb(144, 238, 238);
  min-height: 10rem;
  padding: 1rem;
}

#semester1 {
  background-color: rgb(150, 196, 221);
  min-height: 10rem;
  padding: 1rem;
}

#semester2 {
  background-color: rgb(144, 188, 238);
  min-height: 10rem;
  padding: 1rem;
}

#worksamples {
  background-color: #b3c0db;
  min-height: 10rem;
  padding: 1rem;
}
#worksamples ul {
  list-style-type: none;
}
#worksamples i {
  color: rgb(136, 154, 204);
}

#certificates {
  background-color: #4ebfde;
  min-height: 10rem;
  padding: 1rem;
}

#certificates ul {
  list-style-type: none;
}

#certificates i {
  color: lightblue;
}

#pagefooter {
  background-color: rgb(173, 181, 223);
  min-height: auto;
  padding: 1rem;
}
#pagefooter .container {
  background-color: rgb(255, 255, 255);
  min-height: auto;
  text-align: center;
}

#aifooter {
  padding: 1rem;
  background-color: rgb(152, 206, 203);
  min-height: auto;
}

#aifooter .container {
  min-height: auto;
  text-align: center;
}

#subfooter {
  background-color: steelblue;
  min-height: 10rem;
  padding: 1rem;
  text-align: center;
}

audio {
  border: 5px solid steelblue;
  background-color: steelblue;
  display: block;
  margin: auto;
}

/* Tablet View */
@media screen and (min-width: 600px) {
  #pageheader nav ul {
    margin-bottom: 2rem;
  }
  #logo {
    margin: 0;
  }
  #pageheader nav ul li {
    display: inline-block;
  }

  #pagecontent {
    background-color: rgb(182, 185, 210);
  }
}

/* Desktop View */
@media screen and (min-width: 1000px) {
  #pagecontent {
    background-color: rgb(183, 228, 239);
  }
}
