/* Mobile Styles - Default */
:root {
  --primary-color: rgb(5, 255, 255);
  --secondary-color: rgb(2, 103, 192);
  --tertiary_color: rgb(70, 162, 255);
  --main-font: arial;
}
h1,
h2,
h3 {
  color: rgb(255, 255, 255);
}
p {
  color: rgb(255, 255, 255);
}
blockquote {
  color: rgb(255, 255, 255);
}
html {
  scroll-behavior: smooth;
}

a:link {
  color: silver;
}

a:visited {
  color: silver;
}

a:hover {
  color: rgb(41, 39, 54);
}

body {
  background-color: rgb(59, 51, 65);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
ul {
  list-style-image: url(Images/bat.png);
}

.container {
  max-width: 75rem;
  min-height: 10rem;
  margin: auto;
  background-color: rgb(86, 76, 96);
  padding: 1rem;
}

#pageheader {
  background-color: rgb(113, 104, 122);
  min-height: auto;
  padding: 0.25rem;
}

#logo {
  background-image: url(Images/dtmtv.png);
  width: 6.25rem;
  height: 6.25rem;
  margin: auto;
  transition: all 2s;
}

#pageheader .container {
  min-height: auto;
}

#pageheader nav {
  text-align: center;
}

#pageheader nav ul {
  background-color: rgb(86, 76, 96);
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#pageheader nav ul li {
  border: 2px solid silver;
  padding: 1rem;
  margin: 2px;
  background-color: rgb(108, 92, 128);
}
#pageheader nav ul li:hover {
  background-color: rgb(130, 119, 142);
}

#media {
  background-color: rgb(77, 60, 92);
  /* min-height: 10rem; */
  height: 60vh;
  background-position: center center;
  padding: 1rem;
  background-image: url(Images/dtmtvimage.png);
  background-size: cover;
  /* aspect-ratio: 16 / 9; */
}

#career {
  background-color: rgb(113, 104, 122);
  min-height: 10rem;
  padding: 1rem;
}

#pagecontent {
  background-color: rgb(137, 129, 144);
  min-height: 10rem;
  padding: 1rem;
}

#semester1 {
  background-color: rgb(113, 104, 122);
  min-height: 10rem;
  padding: 1rem;
}

#semester2 {
  background-color: rgb(113, 104, 122);
  min-height: 10rem;
  padding: 1rem;
}

#worksamples {
  background-color: rgb(113, 104, 122);
  min-height: 10rem;
  padding: 1rem;
}
#worksamples ul {
  list-style-type: none;
}
#worksamples i {
  color: rgb(49, 81, 132);
}

#certificates {
  background-color: rgb(113, 104, 122);
  min-height: 10rem;
  padding: 1rem;
}

#certificates ul {
  list-style-type: none;
}

#certificates i {
  color: rgb(62, 60, 88);
}

#pagefooter {
  background-color: rgb(113, 104, 122);
  min-height: auto;
  padding: 1rem;
}
#pagefooter .container {
  background-color: rgb(86, 76, 96);
  min-height: auto;
  text-align: center;
}

#aifooter {
  padding: 1rem;
  background-color: rgb(113, 104, 122);
  min-height: auto;
}

#aifooter .container {
  min-height: auto;
  text-align: center;
}

#subfooter {
  background-color: rgb(113, 104, 122);
  min-height: 10rem;
  padding: 1rem;
  text-align: center;
}

audio {
  border: 2px solid silver;
  background-color: silver;
  display: block;
  margin: auto;
}

/* Tablet View */
@media screen and (min-width: 600px) {
  #pageheader nav ul {
    margin-bottom: 2rem;
  }
  #logo {
    margin: 0;
  }
  #pageheader nav ul li {
    display: inline-block;
  }

  #pagecontent {
    background-color: rgb(113, 104, 122);
  }
}

/* Desktop View */
@media screen and (min-width: 1000px) {
  #pagecontent {
    background-color: rgb(113, 104, 122);
  }
}
